@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-brand-50: #fef2f4;
  --color-brand-100: #fde2e7;
  --color-brand-200: #fbc7cf;
  --color-brand-500: #e20f2d;
  --color-brand-600: #c50d27;
  --color-brand-700: #a30b20;
  --color-brand-900: #5d0612;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
